---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// 1. Generate a new path for every collection post
export async function getStaticPaths() {
  const postCollection = await getCollection("posts");
  return postCollection.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// 2. For your template, you can get the post directly from the prop
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title} | Posts | Eponymous.dev`}>
  <article>
    {
      post.data.image && (
        <div class="post-image">
          <img src={post.data.image} alt={`Image for ${post.data.title}`} />
        </div>
      )
    }
    <h1>{post.data.title}</h1>
    <div class="author-box">
      <div>AuthorImg</div><div class="author-box-right">
        <div>name</div>
        <div>date</div>
      </div>
    </div>
    <Content />
  </article>
</Layout>

<style>
  .post-image img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(256, 256, 256, 0.7); /* Enhanced shadow for 3D pop */
    flex-direction: column;
    animation: slideInFromTop 1s ease-out forwards;
  }

  h1 {
    margin-top: 1rem;
  }

  .author-box {
    display: flex;
  }

  .author-box-right {
    display: flex;
    flex-direction: column;
  }
</style>
