---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";

// Fetch all entries from the 'project' collection
const posts = await getCollection('posts');
---

<Layout title="Posts | ">
  <div>
    <h1>Posts</h1>
    <p>Here are some example posts from the 'posts' Astro collection:</p>
    <ul class="post-list">
      {posts.map(post => (
        <li class="post-item">
          <div class="post-date">{new Date(post.data.date).toLocaleDateString()}</div>
          <div class="post-content">
            <a href={`/posts/${post.slug}`} class="post-link">
              <h2>{post.data.title}</h2>
            </a>
            <p class="post-summary">{post.data.summary}</p>
          </div>
        </li>
      ))}
    </ul>
  </div>
</Layout>

<style>
  .post-list {
    list-style: none;
    padding: 0;
  }

  .post-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
  }

  .post-date {
    font-size: 0.9em;
    padding-right: 20px;
    white-space: nowrap; /* Ensures the date stays on one line */
  }

  .post-content {
    flex-grow: 1;
  }

  h2{padding-top: 0}

  

  .post-summary {
    margin: 0;
    font-size: 0.9em;
    color: #666;
  }

  /* Responsive adjustments for mobile devices */
  @media (max-width: 600px) {
    .post-item {
      flex-direction: column;
      align-items: flex-start;
    }

    .post-date {
      padding-top: 5px;
    }

    .post-link h2 {
      font-size: 1.25em;
    }
  }
</style>
