---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";


// Fetch all entries from the 'project' collection
const blogPosts = await getCollection('blog');

---
<Layout title="Blog | Eponymous.dev">
<div>
  <h1>Blog Posts</h1>
  <p>Here is a list of things I've written:</p>
  <ul>
    {blogPosts.map(post => (
      <li key={post.slug}>
        <a href={`/blog/${post.slug}`}>
         <h2>{post.data.title}</h2> 
        </a>
        {post.data.summary}

      </li>
    ))}
  </ul>
  
</div>
</Layout>