---
import { Icon } from "astro-icon/components";
---

<section id="about">
  <h1>Greetings traveller 👋</h1>
  <p>
    Welcome to Eponymous.dev - an Astro site template built with simplicity and performance in mind.
  </p>
  <p>Feel free to use it to showcase your posts and projects.</p>
  <p>Find me @</p>

  <div class="social-links">
    <ul>
      <li>
        <a
          href="https://github.com/yourusername"
          target="_blank"
          rel="noopener noreferrer"><Icon name="lucide:github" /></a
        >
      </li>
    </ul>
  </div>
</section>

<style>
  ul {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    li {
      margin-right: 1rem;
      span {
        display: flex;
        align-items: center;

        svg {
          margin-left: 0.5rem;
        }
      }
    }
  }
</style>
