<!-- Footer component in Astro -->
<footer class="footer">
  <p>Dowload theme</p>
  <p>
    eponymous.dev - &copy; <a href="https://github.com/alcun">alcun</a> 2024
  </p>
</footer>

<style>
  /* Footer CSS */
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8em; /* Smaller font size */
    text-align: end;
  }
  p {
    margin-bottom: 0;
  }
  @media (max-width: 400px) {
    .footer {
      font-size: 0.7em;
    }
  }
</style>
