<!-- Footer component in Astro -->
<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Eponymous</p>
      
    </div>
  </footer>

  <style>
/* Footer CSS */
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
   padding: 0.5rem;
    font-size: 0.8em; /* Smaller font size */
    text-align: end;
   
}
p {
      margin-bottom: 0;
    }
@media (max-width: 400px) {
    .footer {
        font-size: 0.7em;
    }
}

  </style>