<header class="header">
    <div class="header-content">
      <a href="/" class="logo">AC</a>
      <nav>
        <ul class="nav-links">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <!-- Add more links as needed -->
        </ul>
        <button id="theme-toggle">Toggle Light/Dark</button>

      </nav>
    </div>
  </header>




<style>
    .header{

    }

    .header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        display: flex;
    }

    ul {
        list-style: none;
        display: flex;
    }

    
</style>

<script>


</script>