---
import HeroBadge from "./HeroBadge.astro";

---

<div class="hero">
  <!-- <div id="interactive-badge" class="badge">
    <div>Hello. My name is:</div>
    <div class="badge-span">Eponymous</div>
    <div>&nbsp;</div>
  </div> -->
  <HeroBadge/>

</div>
<style>
  /* Style for the hero section */
  .hero {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

</style>

  