---
import HeroBadge from "./HeroBadge.astro";

---

<div class="hero">
  <!-- <div id="interactive-badge" class="badge">
    <div>Hello. My name is:</div>
    <div class="badge-span">Eponymous</div>
    <div>&nbsp;</div>
  </div> -->
  <HeroBadge/>
  <div class="hero-text">
    <h1>Full Stack Web Development</h1>
    <h3>Front end</h3>
    <h3>Back end</h3>
    <h3>Full stack</h3>
  </div>
  <!-- Other hero content like title, description, etc. -->
</div>
<style>
  /* Style for the hero section */
  .hero {
    padding-top: 3rem;
    position: relative;
    width: 100%;

    height: 80vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:; /* Your background choice *;
    /* Other styling */
  }
  .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
   
    h1, h3{
        margin: 0;
        padding: 0;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    h3{
      margin-bottom: 1rem;
    }
  }

  /* Style for the badge */
 
</style>

  