---
import { Icon } from "astro-icon/components";
---

<section id="about">
  <h1>❤️ this site? Make it your own!</h1>
  <p>
    Download from the github <Icon name="lucide:github" />, change the copy and
    populate the collections with your own markdown files.
  </p>
  <p>
    Change the 3d badge at the top of the page and give it your own special
    touch.
  </p>
  <p>I can't wait to see what you make with it! 🥳</p>

</section>


