<button
  id="theme-btn"
  class="focus-outline"
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
>
  Theme
</button>
<style>
  #theme-btn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
  }
</style>
