<section id="toolkit">
    <h2>Toolkit</h2>
    <p> With any project, pragmatism is the name of the game and any tool is up for consideration if it is the right fit.</p>
    <p> That being said, the following is a list of tools I am familliar with and will tend to reach for:</p>
    <ul>
      <li>node</li>
      <li>js</li>
      <li>next</li>
      <li>react</li>
      <li>astro</li>
      <li>js</li>
    </ul>

  </section>
  