---
import { getCollection } from 'astro:content';

// Fetch the first three blogs
const allBlogs = await getCollection('blog');
const blogs = allBlogs.slice(0, 3);
---


  <section id="writing">
    <h2>Things I've Written</h2>
    {blogs.map(blog => (
      <div class="writing-item">
        <h3>{blog.data.title}</h3>
        <p>{blog.data.summary}</p>
        <!-- Add a link to the detailed blog post -->
        <a href={`/blog/${blog.slug}`}>Read more</a>
      </div>
    ))}
  </section>

