---
import { getCollection } from "astro:content";

// Fetch the first three posts
const allPosts = await getCollection("posts");
const posts = allPosts.slice(0, 3);
---

<section id="posts">
  <h2>Recent Posts</h2>
  {
    posts.map((post) => (
      <div class="post-item">
        <span class="post-date">{post.data.date}</span>
        <a class="post-title" href={`/posts/${post.slug}`}>
          <h4>{post.data.title}</h4>
        </a>
      </div>
    ))
  }
  <div class="see-all-link">
    <a href={`/posts`}>See all posts...</a>
  </div>
</section>

<style>
  .post-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }

  .post-date {
    font-size: 0.8em;
    margin-right: 20px;
    white-space: nowrap; /* Ensures the date stays on one line */
    height: 100%;
  }

  .see-all-link {
    margin-top: 10px;
    font-size: 0.9em;
  }
</style>
