---
import { getCollection } from 'astro:content';

// Fetch the first three posts
const allPosts = await getCollection('posts');
const posts = allPosts.slice(0, 3);
---


  <section id="posts">
    <h2>Things I've Written</h2>
    {posts.map(post => (
      <div class="posts-item">
        <h3>{post.data.title}</h3>
        <p>{post.data.summary}</p>
        <!-- Add a link to the detailed post post -->
        <a href={`/post/${post.slug}`}>Read more</a>
      </div>
    ))}
    <div><a href={`/post`}>See all...</a> </div>
  </section>

