---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import ProjectSummary from "../../components/ProjectSummary.astro"; // Adjust the path as necessary

// Fetch all entries from the 'project' collection
const blogPosts = await getCollection('projects');
---

<Layout title="Projects | Eponymous.dev">
<div>
  <h1>Projects</h1>
  <p>Here are some example projects from the 'projects' Astro collection:</p>
  <ul >
    {blogPosts.map(post => (
      <ProjectSummary key={post.slug} project={post} />
    ))}
  </ul>
</div>
</Layout>
   

<style>
  ul{
    li{
      margin-bottom: 1rem;

    }
  }

</style>