---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body transition:persist>
    <Navbar />
    <main>
      <Breadcrumbs currentPath={currentPath}/>

      <slot />
    </main>
    <Footer/>

  </body>
  </html>

  <style is:global>
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root,
    html[data-theme="dark"] {
      --background-color: #3b3b3b;
      --text-color: #f0f0f0;
      --code-background: #2d2d2d;
      --breakpoint-width: 768px;
      --accent-color: #4FD1C5;
      --accent-hover-color: #3fb0b3; /* Darker shade for hover */
      --hero-text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      --nav-background:  rgba(59, 59, 59, 0.2);
    }

    html[data-theme="light"] {
      --background-color: #f0f0f0;
      --text-color: #3b3b3b;
      --code-background: #eeeeee;
      --accent-color: #06b6d4;
      --accent-hover-color: #059cb0; /* Darker shade for hover */
      --nav-background:  rgba(240, 240, 240, 0.2);

    }

    body,
    html {
      height: 100%;
      background: var(--background-color);
      color: var(--text-color);
      font-family:
        system-ui,
        ui-sans-serif,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol,
        "Noto Color Emoji";
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
      background: var(--code-background);
    }

    main {
      margin-top: 5rem;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 16px;
      line-height: 1.6;
      min-height: 100%;
    }

    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

    h1, h2 {
      color: var(--accent-color);
    }

    ul,
    ol {
      list-style-position: inside;
    }

    ul {
      list-style: none;

    }

    section {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    a {
  color: var(--accent-color); /* Use the accent color for link text */
  text-decoration: none; /* No underline to keep it minimal */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for changes */
}

a:hover,
a:focus {
  color: var(--accent-hover-color); /* Use the slightly darker color on hover/focus */
  text-decoration: underline; /* Add underline on hover/focus for clarity */
}

    /* Base table styles */
table {
  width: 100%; /* Full-width */
  border-collapse: collapse; /* Collapse borders */
  margin: 20px 0; /* Add some margin around the table */
  font-size: 0.9em; /* Adjust font size */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

/* Table headers */
th {
  text-align: left; /* Align text to the left */
  padding: 12px 15px; /* Add some padding */
}

/* Table cells */
td {
  border-bottom: 1px solid #dddddd; /* Light border for each cell */
  padding: 12px 15px; /* Padding for cell content */
}


/* Make the last row's border bottom more pronounced */
tr:last-of-type td {
  border-bottom: 2px solid #009879; /* Darker border for the last row */
}

p, figure, h1, h2{
  margin-bottom: 1rem;
}

    @media (max-width: 768px) {
    main {
      margin-top: 3rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }



}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
  80% {
    transform: translateY(2%) scale(1.05);
    opacity: 1;
  }
  90% {
    transform: translateY(-1%) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
  </style>
